# Ignore the virtual environment
optiviz_venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor configs
.vscode/
.idea/
*.swp  # For Vim swap files

# Ignore log files and temporary files
*.log
.DS_Store  # macOS system file
Thumbs.db  # Windows system file

# Ignore environment variable files
.env

# Ignore ruff files
utils/
ruff_helpers/
